page-pagos {
 
 #niño {
 width:70px;
 height:70px;
 }

button {
	font-style:italic;
	font-weight:400px;
    background: linear-gradient(20deg,#EC7313,#EEB621);
 }

.scroll-content {
  width:100%;
  height:100%;
  background: linear-gradient(10deg,#FF4C05,#4e5efc);
  flex-direction: column;
 }

h1{
  font-style:italic;
  font-weight:300;
  font-size: 35px;
}

}
