page-login {
.bg {
	width:100%;
	height:100%;
	background: linear-gradient(10deg,#4e5efc,#4ee7fc)
}
.scroll-content{
   text-align: center;
}


h1{
   color:#fff;
   font-size: 3em;
   font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-weight: lighter;
   margin-top:50px;
 } 
.gymbo{ 
  width:305px;
  height:350px;
  margin-left:6px;
 }
  .item{
 background:#ff3030;
 }
 ion-input{
  border-bottom: #fd4d73 solid 1px;
 }
 ion-card.card{
	background: #ffc125;
	margin-top:15px;
 }
 ion-label{
 text-color:orange;
 }
 .poster{
 width:70px;
 height:120px;
 margin-bottom:100px;
 }
.card-subtitle{
   font-size: 1.0em;
    position: absolute;
    top: 63%;
    width: 100%;
    color: #fff;
}

.list2{
 .hospital_list {
      right:50%;
    }
}
 
}
