<ion-header>

  <ion-navbar color="third">
    <ion-title text-center>Mis Reservas</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<form [formGroup]="formularioUsuario" (ngSubmit)="saveData()" novalidate>
<ion-card>
  <ion-card-content>
    <ion-card-title>Reservas!</ion-card-title>
    <ion-list>
      <ion-item>
        <ion-icon name="person" item-left></ion-icon>
                <ion-label stacked>Nombre Completo:</ion-label>
        <ion-input formControlName="nombre" placeholder="Nombre" [(ngModel)]="reserva.nombre"></ion-input>
      </ion-item>

      <ion-item *ngIf="formularioUsuario.get('nombre').errors && formularioUsuario.get('nombre').dirty">
             <p *ngIf="formularioUsuario.get('nombre').hasError('required')" class="error">
             El nombre es requerido.
             </p>
             <p *ngIf="formularioUsuario.get('nombre').hasError('maxlength')" class="error">
             El maximo de caracteres permitidos es 30.
             </p>
            </ion-item>

      
      <ion-item>
        <ion-icon name="pin" item-left></ion-icon>
                <ion-label stacked>Ciudad:</ion-label>
        <ion-input formControlName="ciudad" placeholder="Ciudad" [(ngModel)]="reserva.ciudad"></ion-input>
      </ion-item>

             <ion-item *ngIf="formularioUsuario.get('ciudad').errors && formularioUsuario.get('ciudad').dirty">
                <p *ngIf="formularioUsuario.get('ciudad').hasError('required')" class="error">
                La dirección es requerida.
                </p>
                <p *ngIf="formularioUsuario.get('ciudad').hasError('maxlength')" class="error">
                El maximo de caracteres permitidos es 100.
                </p>
             </ion-item>
      
        
      <ion-item>
          <ion-icon name="ios-locate" item-left></ion-icon>
                <ion-label stacked>Dirección:</ion-label>
        <ion-input formControlName="direccion" placeholder="Dirección" [(ngModel)]="reserva.direccion"></ion-input>
      </ion-item>

       <ion-item *ngIf="formularioUsuario.get('direccion').errors && formularioUsuario.get('direccion').dirty">
                <p *ngIf="formularioUsuario.get('direccion').hasError('required')" class="error">
                La dirección es requerida.
                </p>
                <p *ngIf="formularioUsuario.get('direccion').hasError('minlength')" class="error">
                El minimo de caracteres permitidos es 5.
                </p>
             </ion-item>
    
      <ion-item>
        <ion-icon name="at" item-left></ion-icon>
        <ion-label stacked>Correo Electronico:</ion-label>
        <ion-input formControlName="correo" placeholder="E-mail" type="email" [(ngModel)]="reserva.email"></ion-input>
      </ion-item>

        <ion-item *ngIf="formularioUsuario.get('correo').errors && formularioUsuario.get('correo').dirty">
                 <p *ngIf="formularioUsuario.get('correo').hasError('required')" class="error">
                  El correo es requerido.
                 </p>
                 <p *ngIf="formularioUsuario.get('correo').hasError('email')" class="error">
                 El correo electronico indicado no es valido.
                 </p>
              </ion-item>
      

      <ion-item>
        <ion-icon name="call" item-left></ion-icon>
        <ion-label stacked>Celular:</ion-label>
        <ion-input formControlName="celular" placeholder="Celular" type="tel" [(ngModel)]="reserva.celular"></ion-input>
      </ion-item>
       
       <ion-item *ngIf="formularioUsuario.get('celular').errors && formularioUsuario.get('celular').dirty">
                <p *ngIf="formularioUsuario.get('celular').hasError('required')" class="error">
                El celular es requerido.
                </p>
                <p *ngIf="formularioUsuario.get('celular').hasError('minlength')" class="error">
                Numero de celular no valido.
                </p>
                <p *ngIf="formularioUsuario.get('celular').hasError('maxlength')" class="error">
                Numero de celular no valido.
                </p>
             </ion-item>

            <ion-item>
              <ion-icon name="md-contact" item-left></ion-icon>
                <ion-label stacked>Nombre del niño:</ion-label>
                <ion-input formControlName="niño" placeholder="Nombre Del Niño" [(ngModel)]="reserva.nombrenino"></ion-input>
            </ion-item>
             
             <ion-item *ngIf="formularioUsuario.get('niño').errors && formularioUsuario.get('niño').dirty">
              <p *ngIf="formularioUsuario.get('niño').hasError('required')" class="error">
              El nombre es requerido.
              </p>
              <p *ngIf="formularioUsuario.get('niño').hasError('maxlength')" class="error">
              El maximo de caracteres permitidos es 30.
              </p>
             </ion-item>

      <ion-item>
        <ion-icon name="ios-calendar" item-left></ion-icon>
        <ion-label stacked>Edad del niño:</ion-label>
        <ion-datetime formControlName="edad" type="number" [(ngModel)]="reserva.edad"></ion-datetime>
      </ion-item>

       <ion-item *ngIf="formularioUsuario.get('edad').errors && formularioUsuario.get('edad').dirty">
              <p *ngIf="formularioUsuario.get('edad').hasError('required')" class="error">
              Edad del niño es requerida.
              </p>
             </ion-item>

         
      <ion-item>
        <ion-icon name="md-calendar" item-left></ion-icon>
        <ion-label stacked>Fecha de la Reserva</ion-label>
        <ion-input formControlName="reserva" placeholder="Fecha Reserva" displayFormat="DD/MM/YYYY" [(ngModel)]="myDate" [(ngModel)]="reserva.fecha_reserva"></ion-input>
      </ion-item>

            <ion-item *ngIf="formularioUsuario.get('reserva').errors && formularioUsuario.get('reserva').dirty">
              <p *ngIf="formularioUsuario.get('reserva').hasError('required')" class="error">
              La fecha para reserva es requerida.
              </p>
            </ion-item>

            

    </ion-list>
    <button ion-button full (click)="addTransaction()" [disabled]="!formularioUsuario.valid" (click)="listoo()">Añadir Reserva</button>
  </ion-card-content>
</ion-card>
</form>
</ion-content>
