$SIDEMENU_TOP: #ff4b1f;
$SIDEMENU_BOTTOM: #ff9068;
$SIDEMENU_TRANSPARENCY: rgba(255,255,255,0.4);

.side-menu-gradient {
	background:#ff9069;
}

.profile-image {
	img {
		border-radius: 50%;
		margin: 10px;
		border: 4px solid $SIDEMENU_TRANSPARENCY;
	}
	
}
.side-menu-item {
	background: none;
	color: white;
	font-weight: 350;
	border: 0px;
	.item-content {
		background: none;
		&.activated {
			background: $SIDEMENU_TRANSPARENCY;
		}
		
	}
	&.active-page-highlight {
		.item-content {
			background: $SIDEMENU_TRANSPARENCY;
		}
		
	}
}
