.ios, .md{

page-reservado {
#niño {
	width: 70px;
	height: 70px;
}

 h2{
	color:#fff;
 font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-weight: lighter;
	}

.account-form {
    flex: 1;
}

 ion-item{
   border-radius: 20px !important;
  padding-left: 10px !important;
  background-color: #1A4876;
  color:#fff;
 }

 .scroll-content {
  width:100%;
	height:100%;
	background: linear-gradient(10deg,#4e5efc,#4ee7fc);

  flex-direction: column;
 }

.form{
	color:white;
}

.add{
 background-color:#EC2D13; 
}

}

}